* {
	margin: o auto;
}

body {
	background-color: #727272;
	box-sizing: border-box;
}

/* Index.html */

.landingScreen {
	z-index: 0;
	background: white;
	position: absolute;
	justify-content: center;
	left: 245pt;
	top: 103pt;
	width: 550pt;
	height: 432pt;
	border-radius: 16pt;
	box-shadow: 8pt 8pt 8pt rgba(0, 0, 0, 0.75);
}

#onePlayer, #twoPlayer, .board {
	font-family: Baloo, sans-serif;
	font-size: 24pt;
	color: white;
	background-color: #C1272D;
	border-radius: 10pt;
	padding: 6px 22px;
	box-shadow: 4pt 4pt 4pt rgba(0, 0, 0, 0.75);
	position: relative;
	align-items: center;
	margin: 50pt 50pt 0pt 50pt;
}

.board {
	font-size: 18pt;
	padding: 4px 18px;
	position: absolute;
	left: 530px;
	top: 450px;
}

.board:visited {
	color: white;
}

#onePlayer {
	left: 342;
	top: 171;
}

#twoPlayer {
	left: 539;
	top: 171;
}

h2 {
	font-family: Baloo, sans-serif;
	color: black;
	text-align: center;
	padding: 0px;
}

.currentPlayer {
	font-family: Baloo, sans-serif;
	color: white;
	font-size: 20pt;
	position: absolute;
	left: 675pt;
	top: 135pt;
	background-color: #C1272D;
	box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.75);
	border-radius: 10pt;
	padding: 6px 22px;
}

.colors {
	position: absolute;
	z-index: 70;
	padding: 10px 70px;
}

#black {
	left: 308;
	top: 322;
	padding: 0px 15px;
}

#yellow {
	left: 422;
	top: 322;
	padding: 0px 15px;
}

#orange {
	left: 536;
	top: 322;
	padding: 0px 15px;
}

#red {
	left: 650;
	top: 322;
	padding: 0px 15px;
}

/* Board.html */

#whipItLogo {
	position: relative;
	left: 350pt;
	top: 140pt;
	z-index: 50;
	transition: all .2s ease-in-out;
	/* box-shadow: 6pt 6pt 6pt rgba(0, 0, 0, 0.75); */
}

#whipItLogo:hover {
	height: 220;
  }

#problemDie {
	position: relative;
	left: 160pt;
	top: 270pt;
	z-index: 50;
	transform: rotate(45deg);
	border-radius: 10pt;
	box-shadow: 12pt 4pt 4pt rgba(0, 0, 0, 0.65);
}

.board, .win, .music, .p1Backward, .p1Forward, .p2Backward, .p2Forward {
	position: relative;
	top: 400pt;
}

.playerPiece_1, .playerPiece_2, .playerPiece_3, .playerPiece_4{
	left: 22pt;
	top: 5pt;
	height: 100px;
	position: absolute;
	z-index: 50;
}

.holdingPen {
	display: none;
}

.problemCards {
	background: gray;
	position: absolute ;
	border: 2px black dashed;
	left: 758pt;
	top: 357pt;
	width: 225pt;
	height: 125pt;
}

#problemCard {
	box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.75);
	transform: rotate(2deg);
}

h3 {
	font-family: Baloo, sans-serif;
	font-size: 24pt;
	color: black;
	text-align: center;
	line-height: 1;
	
}

h4 {
	font-family: Baloo, sans-serif;
	font-size: 20pt;
	color: darkred;
	text-align: center;
	padding: 0 0 20pt 0;
	
}

.newCard {
	background: white;
	position: absolute;
	font-family: Baloo, sans-serif;
	left: 740pt;
	top: 340pt;
	width: 275pt;
	height: 153pt;
	box-shadow: 8pt 8pt 8pt rgba(0, 0, 0, 0.5);
	transform: rotate(-4deg);
}

 
.square_0, .square_1, .square_2, .square_3, .square_4, .square_5, .square_6, .square_7, .square_8, .square_9, .square_10, .square_11, .square_12, .square_13, .square_14, .square_15, .square_16, .square_17, .square_18, .square_19, .square_20, .square_21, .square_22, .square_23, .square_24, .square_25, .square_26, .square_27, .square_28, .square_29, .square_30, .square_31, .square_32, .square_33, .square_34 {
	background: #B3B3B3;
	position: absolute;
	width: 90pt;
	height: 90pt;
	z-index: 1;
	box-shadow: 0pt 0pt 8pt rgba(180, 0, 0, 0.75);
	/* border: 2pt darkred solid; */
}
.square_0 {
	left: 25pt;
	top: 25pt;
	background: rgba(180, 0, 0);
	border-radius: 45pt 45pt 10pt 10pt;
}
.square_1 {
	left: 25pt;
	top: 125pt;
	border-radius: 10pt;
}
.square_2 {
	left: 25pt;
	top: 225pt;
	border-radius: 10pt;
}
.square_3 {
	left: 25pt;
	top: 325pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_4 {
	left: 25pt;
	top: 425pt;
	border-radius: 10pt;
}
.square_5 {
	left: 25pt;
	top: 525pt;
	border-radius: 10pt 10pt 10pt 45pt;
}
.square_6 {
	left: 125pt;
	top: 525pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_7 {
	left: 225pt;
	top: 525pt;
	border-radius: 10pt;
}
.square_8 {
	left: 325pt;
	top: 525pt;
	border-radius: 10pt 10pt 45pt 10pt;
}
.square_9 {
	left: 325pt;
	top: 425pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_10 {
	left: 325pt;
	top: 325pt;
	border-radius: 10pt 45pt 10pt 10pt;
}
.square_11 {
	left: 225pt;
	top: 325pt;
	border-radius: 10pt 10pt 10pt 45pt;
}
.square_12 {
	left: 225pt;
	top: 225pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_13 {
	left: 225pt;
	top: 125pt;
	border-radius: 10pt;
}
.square_14 {
	left: 225pt;
	top: 25pt;
	border-radius: 45pt 10pt 10pt 10pt;
}
.square_15 {
	left: 325pt;
	top: 25pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_16 {
	left: 425pt;
	top: 25pt;
	border-radius: 10pt;
}
.square_17 {
	left: 525pt;
	top: 25pt;
	border-radius: 10pt;
}
.square_18 {
	left: 625pt;
	top: 25pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_19 {
	left: 725pt;
	top: 25pt;
	border-radius: 10pt;
}
.square_20 {
	left: 825pt;
	top: 25pt;
	border-radius: 10pt;
}
.square_21 {
	left: 925pt;
	top: 25pt;
	border-radius: 10pt 45pt 10pt 10pt;
	background: rgb(146, 146, 146);
}
.square_22 {
	left: 925pt;
	top: 125pt;
	border-radius: 10pt;
}
.square_23 {
	left: 925pt;
	top: 225pt;
	border-radius: 10pt 10pt 45pt 10pt;
}
.square_24 {
	left: 825pt;
	top: 225pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_25 {
	left: 725pt;
	top: 225pt;
	border-radius: 10pt;
}
.square_26 {
	left: 625pt;
	top: 225pt;
	border-radius: 45pt 10pt 10pt 10pt;
}
.square_27 {
	left: 625pt;
	top: 325pt;
	border-radius: 10pt 10pt 45pt 10pt;
	background: rgb(146, 146, 146);
}
.square_28 {
	left: 525pt;
	top: 325pt;
	border-radius: 45pt 10pt 10pt 10pt;
}
.square_29 {
	left: 525pt;
	top: 425pt;
	border-radius: 10pt;
}
.square_30 {
	left: 525pt;
	top: 525pt;
	border-radius: 10pt 10pt 10pt 45pt;
	background: rgb(146, 146, 146);
}
.square_31 {
	left: 625pt;
	top: 525pt;
	border-radius: 10pt;
}
.square_32 {
	left: 725pt;
	top: 525pt;
	border-radius: 10pt;
}
.square_33 {
	left: 825pt;
	top: 525pt;
	border-radius: 10pt;
	background: rgb(146, 146, 146);
}
.square_34 {
	left: 925pt;
	top: 525pt;
	border-radius : 10pt 45pt 45pt 10pt;
	background: rgb(248, 244, 3);
}

/* Victory.html */

h1 {
	text-align: center;
	font-family: Baloo, sans-serif;
	font-size: 36pt;
}

.again {
	position: relative;
	top: 400pt;
}