body {
	background-color: #a1a1a1;
	box-sizing: border-box;
	margin: none;
}

.container {
	width: 100%;
	/* max-width: 800px; */
	padding-top: 56.25; 
	margin: 0 auto;
	background-color: white;
  }

.gameBoard {
	display: flex;
	/* grid-template-columns: 10vw, 10vw, 10vw, 10vw, 10vw, 10vw, 10vw, 10vw, 10vw;
	grid-template-rows: 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh, 10vh; */
	height: 100%;
	padding-top: 56.25;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: white;
	align-items: center;
}



.start {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 55pt;
	top : 28pt;
	width : 110pt;
	height : 114pt;
}
.sq1 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 37pt;
	top : 131pt;
	width : 101pt;
	height : 93pt;
}
.sq2 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 26pt;
	top : 217pt;
	width : 94pt;
	height : 80pt;
} 
.sq3 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 25pt;
	top : 302pt;
	width : 87pt;
	height : 88pt;
}
.sq4 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 28pt;
	top : 384pt;
	width : 99pt;
	height : 92pt;
}
.sq5 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 49pt;
	top : 451pt;
	width : 111pt;
	height : 108pt;
	border-radius : 31pt 51pt 0pt 0pt  / 48pt 78pt 0pt 0pt;
}
.sq6 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 104pt;
	top : 503pt;
	width : 111pt;
	height : 107pt;
	border-radius : 50pt 81pt 0pt 0pt  / 27pt 47pt 0pt 0pt;
}
.sq7 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 191pt;
	top : 532pt;
	width : 97pt;
	height : 92pt;
	border-radius : 63pt 97pt 0pt 0pt  / 7pt 12pt 0pt 0pt;
}
.sq8 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 291pt;
	top : 523pt;
	width : 110pt;
	height : 101pt;
} 
.sq9 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 361pt;
	top : 478pt;
	width : 121pt;
	height : 116pt;
	border-radius : 39pt 77pt 0pt 0pt  / 42pt 89pt 0pt 0pt;
}
.sq10 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 396pt;
	top : 376pt;
	width : 98pt;
	height : 123pt;
	border-radius : 7pt 8pt 0pt 0pt  / 64pt 123pt 0pt 0pt;
}
.sq11 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 352pt;
	top : 295pt;
	width : 121pt;
	height : 108pt;
}
.sq12 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 293pt;
	top : 242pt;
	width : 113pt;
	height : 111pt;
}
.sq13 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 236pt;
	top : 191pt;
	width : 114pt;
	height : 106pt;
	border-radius : 53pt 38pt 0pt 0pt  / 67pt 47pt 0pt 0pt;
}
.sq14 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 223pt;
	top : 123pt;
	width : 92pt;
	height : 103pt;
	border-radius : 5pt 0pt 0pt 0pt  / 35pt 103pt 0pt 0pt;
}
.sq15 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 236pt;
	top : 41pt;
	width : 122pt;
	height : 104pt;
	border-radius : 40pt 83pt 0pt 0pt  / 28pt 77pt 0pt 0pt;
}
.sq16 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 429pt;
	top : 17pt;
	width : 91pt;
	height : 89pt;
	border-radius : 74pt 64pt 27pt 0pt  / 3pt 4pt 0pt 0pt;
}
.sq17 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 324pt;
	top : 18pt;
	width : 102pt;
	height : 97pt;
	border-radius : 64pt 99pt 0pt 0pt  / 11pt 20pt 0pt 0pt;
}
.sq18 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 514pt;
	top : 23pt;
	width : 103pt;
	height : 100pt;
	border-radius : 82pt 91pt 0pt 0pt  / 15pt 17pt 0pt 0pt;
}
.sq19 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 602pt;
	top : 40pt;
	width : 98pt;
	height : 96pt;
}
.sq20 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 702pt;
	top : 47pt;
	width : 93pt;
	height : 90pt;
	border-radius : 90pt 79pt 0pt 0pt  / 5pt 4pt 0pt 0pt;
}
.sq21 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 788pt;
	top : 34pt;
	width : 95pt;
	height : 96pt;
	border-radius : 81pt 77pt 0pt 0pt  / 12pt 12pt 0pt 0pt;
}
.sq22 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 871pt;
	top : 28pt;
	width : 93pt;
	height : 89pt;
	border-radius : 67pt 93pt 0pt 0pt  / 3pt 4pt 0pt 0pt;
}
.sq23 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 962pt;
	top : 30pt;
	width : 107pt;
	height : 102pt;
	border-radius : 55pt 99pt 0pt 0pt  / 17pt 35pt 0pt 0pt;
}
.sq24 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 1022pt;
	top : 68pt;
	width : 95pt;
	height : 125pt;
	border-radius : 8pt 40pt 0pt 0pt  / 39pt 126pt 0pt 0pt;
}
.sq25 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 979pt;
	top : 181pt;
	width : 133pt;
	height : 101pt;
}
.sq26 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 878pt;
	top : 205pt;
	width : 136pt;
	height : 92pt;
}
.sq27 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 774pt;
	top : 213pt;
	width : 122pt;
	height : 86pt;
}
.sq28 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 683pt;
	top : 215pt;
	width : 101pt;
	height : 91pt;
}
.sq29 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 594pt;
	top : 226pt;
	width : 115pt;
	height : 98pt;
}
.sq30 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 530pt;
	top : 259pt;
	width : 113pt;
	height : 104pt;
	border-radius : 34pt 59pt 0pt 0pt  / 37pt 72pt 0pt 0pt;
}
.sq31 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 522pt;
	top : 337pt;
	width : 98pt;
	height : 108pt;
	border-radius : 12pt 7pt 0pt 0pt  / 55pt 109pt 0pt 0pt;
}
.sq32 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 538pt;
	top : 427pt;
	width : 119pt;
	height : 104pt;
}
.sq33 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 602pt;
	top : 473pt;
	width : 109pt;
	height : 103pt;
}
.sq34 {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 677pt;
	top : 502pt;
	width : 105pt;
	height : 99pt;
}
.sq35 {
	background : #C7B299;
	background : rgba(199, 178, 153, 1);
	position : absolute ;
	left : 779pt;
	top : 517pt;
	width : 89pt;
	height : 87pt;
	border-radius : 71pt 90pt 0pt 0pt  / 1pt 1pt 0pt 0pt;
}
.sq36 {
	background : #736357;
	background : rgba(115, 99, 87, 1);
	position : absolute ;
	left : 866pt;
	top : 513pt;
	width : 93pt;
	height : 90pt;
}
.finish {
	background : #998675;
	background : rgba(153, 134, 117, 1);
	position : absolute ;
	left : 952pt;
	top : 490pt;
	width : 162pt;
	height : 107pt;
	border-radius : 137pt 150pt 0pt 0pt  / 22pt 25pt 0pt 0pt;
}





.gameBoardSpace {
	height: 100px;
	width: 100px;
	background-color: gray;
	border: 2px solid transparent;
	border-radius: 20px 20px 20px 20px;
	align-items: center;
}

.problemCards {
	width: 50px;
	height: 50px;
	transform: skew(10deg);
	background: #555;
}